@model IEnumerable<FactoryOrganizerWebsite.Models.FilePathToWebsiteInformationForProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </th>
        <th width="200">
            <label>Description</label>
        </th>
        <th>
            <label>Product Image</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNumber)
        </td>
        <td width="200">
            <text>@item.CellNumber</text>
        </td>
        <td>
            <img src="@Url.Content(item.WholeFilePath + @"\" + item.ItemNumber +".png")" width="150" height="150"/>
        </td>
        <td>
            @Html.ActionLink("Buy", "PurchaseProduct", new { id=item.FilePathToWebsiteInformationForProductID })
        </td>
    </tr>
}

</table>
